body {
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
}
h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding: 20px;
    text-transform: uppercase;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
p {
    margin-right: 20px;
}
.user-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-button {
    margin-right: 20px;
}
.user-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.login-form > h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    padding: 20px;
    text-transform: uppercase;
}

.login-form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-form > input {
    margin: 10px 20px;
    background-color: #fff;
}

.login-form > input[texte="button"] {
    text-transform: uppercase;
    color: blue;
    border: 1px solid #333;
    padding: 5px 10px;
}

.login-form > input:focus {
    outline: none;
}

.hidden {
    display: none;
}